:root {
  --dark: #002b45;
  --header: rgba(0, 43, 69, 0.9);
  --grey: #fff;
  --light: #fbf6ef;
  --additional: #001623;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body {
  position: relative;
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

header {
  padding: 32px 7.6% 36px 7.9%;
  background-color: var(--header);
  color: var(--grey);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

button {
  text-transform: uppercase;
}

button,
select {
  padding: 18px 32px;
  font-size: 16px;
  height: 58px;
  color: var(--dark);
  &:hover {
    cursor: pointer;
  }
}

p {
  font-family: 'Open Sans';
}

.logo {
  gap: 35px;
}

.contacts {
  width: 49%;
  padding-left: 2px;
}

.contacts__nav {
  margin-top: 5px;
}

.adress {
  font-size: 14px;
  line-height: 26px;
  margin-right: 50px;
  width: 230px;
}

.contacts__button {
  font-size: 14px;
  color: var(--grey);
  background-color: transparent;
  border: 0.84px solid var(--grey);
  padding: 14px 27px;
  margin-top: 2px;
  &:hover {
    border-color: #f2a22e;
    color: #f2a22e;
  }
}

.contacts__phone a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--grey);
  margin-left: 5px;
}

.banner {
  position: relative;
  color: var(--grey);
  min-height: 850px;
  padding: 220px 7.8% 138px 7.8%;

  background-image: url(../assets/images/первый_экран.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner__content {
  min-height: 423px;
}

.banner h1 {
  font-family: 'Lora Regular';
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 0px;
}

.banner__price {
  font-size: 28px;
  justify-content: start;
}

.banner__subtitle {
  margin-left: 16px;
  padding-top: 8px;
}

.banner__count {
  position: relative;
  top: 15px;
}
.banner__count p {
  font-size: 14px;
}
.banner__count img {
  position: absolute;
  left: 247px;
  top: 10px;
}

.banner__button {
  background-color: transparent;
  color: var(--grey);
  border: 1px solid var(--grey);
  &:hover {
    border-color: #f2a22e;
    color: #f2a22e;
  }
}

.banner__pros {
  background-color: var(--header);
  border-radius: 15px;
  padding: 18px 34px 18px 32px;
  font-size: 18px;

  position: absolute;
}
.banner__pros_1 {
  top: 180px;
  right: calc(72.4% - 239px);
}
.banner__pros_2 {
  top: 330px;
  right: calc(50.9% - 281px);
}
.banner__pros_3 {
  top: 530px;
  right: calc(54.4% - 230px);
}
.banner__pros .point {
  border-radius: 50%;
  background-color: var(--grey);
  width: 31px;
  height: 31px;

  position: absolute;
  top: 28px;
  right: -15px;
  z-index: 2;
}
.banner__pros .point::after {
  display: block;
  position: absolute;
  content: '';
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 19px;
  height: 19px;
  top: 6px;
  right: 6px;
  z-index: 3;
}

.banner__rect {
  position: absolute;
  height: 3px;
  left: 0;
  top: 377px;
  width: calc(7.8% - 20px);
  z-index: 4;
}
.advantages__rect {
  position: absolute;
  height: 3px;
  right: 0;
  top: 122px;
  width: calc(76% - 400px);
  z-index: 4;
}

.advantages h2,
.catalog h2 {
  color: var(--dark);
  font-size: 36px;
  font-family: 'Lora Bold';
  line-height: 43.2px;
  margin-top: 0px;
}

.advantages {
  min-height: 405px;
  padding: 100px 5.2%;
  background-color: var(--light);
  position: relative;
  z-index: 2;
}

.advantages__figure {
  height: 532px;
  margin: 0;
  position: absolute;
  left: 0;
  top: -38px;
  z-index: 3;
}

.advantages__content {
  margin-left: 24%;
}

.advantages__list {
  padding-left: 8px;
  margin-top: 57px;
  margin-bottom: 0;
  justify-content: start;
  align-items: start;
  gap: 75px;
}

.advantages__list li::marker {
  color: transparent;
}

.advantages__list li {
  max-width: 370px;
  font-size: 24px;
  line-height: 32.68px;
  gap: 30px;
  align-items: start;
  color: var(--dark);
}

.advantages__list img {
  width: 70px;
  height: auto;
}

.advantages__item {
  max-width: 265px;
}

.catalog {
  position: relative;
  padding: 158px 7.8%;
}

.catalog__rect {
  position: absolute;
  height: 3px;
  left: 0;
  top: 179px;
  width: calc(7.8% - 20px);
  z-index: 4;
}

.catalog__rectBig {
  position: absolute;
  height: 415px;
  right: 0;
  top: 114px;
  width: 675px;
  z-index: -1;
}

.catalog__nav {
  margin-top: 50px;
  margin-bottom: 45px;
  max-width: 953px;
}

.catalog__nav select {
  padding-right: 0;
  margin-right: 9px;
  width: 207px;
  &:active,
  &:focus {
    background-color: var(--dark);
    color: var(--light);
  }
}
.catalog__nav select:last-child {
  margin-right: 0;
  width: 137px;
}
.catalog__nav select option {
  background-color: var(--grey);
  color: var(--dark);
  &:active,
  &:focus {
    background-color: var(--grey);
    color: var(--dark);
  }
}

.catalog__filterButton {
  margin-right: 9px;
  border: none;
  background-color: #e1e1e1;
}
.catalog__resetButton {
  border: 1px solid #000;
  background-color: var(--grey);
}

.catalog__list {
  flex-wrap: wrap;
  row-gap: 48px;
}

.catalog__item {
  position: relative;
  width: 786px;
  height: 436px;
}

.catalog__itemSlider {
  position: absolute;
  width: 287.28px;
  height: 364px;
  top: calc((100% - 364px) / 2);
  left: 0;
}

.catalog__itemSliderOptions {
  position: absolute;
  background-color: var(--additional);
  height: 80px;
  width: 100%;
  bottom: 0;
}

.catalog__content {
  width: 587.84px;
  height: 100%;
  background-color: var(--light);
  color: var(--dark);
  border: 1px solid #000;
  margin-left: 198px;
  padding: 56px 47px 54px 133px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog__itemTitle {
  font-family: 'Lora Bold';
  font-size: 24px;
  margin-top: 0;
  margin-bottom: -10px;
}

.catalog__priceTable {
  color: var(--dark);
  height: 53px;
  width: calc(100% + 65px);
  margin-left: -36px;
  margin-top: 14px;
}

.catalog__priceTable th,
.catalog__priceTable td {
  text-align: left;
  padding-left: 40px;
  border-right: 1px solid #d9d9d9;
}

.catalog__priceTable th:last-child,
.catalog__priceTable td:last-child {
  border-right: none;
}

.catalog__itemLength {
  color: #7c7c7c;
  margin-bottom: 33px;
  margin-left: 3px;
}

.catalog__buttons {
  display: flex;
  justify-content: space-between;
}

.catalog__readMoreButton {
  background-color: var(--dark);
  color: var(--light);
  border: none;
  &:hover {
    background-color: #015b91;
  }
  &:active {
    background-color: #011a2a;
  }
}

.catalog__countButton {
  background-color: var(--light);
  color: var(--dark);
  border: 1px solid var(--dark);
  &:hover {
    border-color: #f2a22e;
    color: #f2a22e;
  }
  &:active {
    border-color: #011a2a;
    color: #011a2a;
  }
}

@media (width < 1880px) {
  .contacts {
    width: fit-content;
  }

  .adress {
    margin-right: 10px;
  }

  .banner h1 {
    font-size: 54px;
  }

  .banner__pros_2 {
    margin-right: -20px;
  }

  .advantages__item {
    font-size: smaller;
    width: fit-content;
  }
  .advantages__figure {
    height: auto;
    width: 22svw;
    top: -8px;
  }
  .advantages__figure img {
    height: auto;
    width: 100%;
  }
  .advantages__list {
    gap: 45px;
    justify-content: space-between;
  }

  .catalog__list {
    flex-direction: column;
  }
  .catalog__nav {
    margin-top: 50px;
    margin-bottom: 45px;
    max-width: 100%;
    justify-content: center;
  }
}

@media (width < 1380px) {
  header {
    padding-bottom: 1.2em;
    padding-top: 1.2em;
  }

  .logo {
    flex-direction: column;
    align-items: start;
    gap: 18px;
    align-items: center;
  }
  .logo__yandex {
    width: 70%;
  }

  .contacts {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .contacts__nav {
    flex-direction: row-reverse;
  }
  .contacts__button {
    font-size: 14px;
    padding: 12px 22px;
  }
  .contacts__phone a {
    font-size: 16px;
    margin-right: 5px;
  }

  .banner h1 {
    font-size: 50px;
  }
  .banner__pros {
    border-radius: 10px;
    padding: 14px 26px 14px 26px;
    margin-right: -20%;
  }
  .banner__subtitle {
    font-size: smaller;
  }

  .advantages {
    padding-top: 60px;
    min-height: fit-content;
  }
  .advantages__list li {
    max-width: 250px;
    font-size: 20px;
    line-height: normal;
    gap: 10px;
  }
  .advantages__list img {
    width: 50px;
  }
  .advantages__rect {
    top: 82px;
  }

  .catalog__nav {
    flex-direction: column-reverse;
  }
}

@media (width < 980px) {
  .banner__pros {
    display: none;
  }
  .banner h1 {
    font-size: 40px;
    line-height: normal;
  }
  .advantages__list {
    flex-direction: column;
  }
  .advantages__figure {
    width: 280px;
  }
  .advantages__content {
    margin-left: 280px;
  }
  .advantages__rect {
    width: calc(76% - 440px);
  }
  .advantages h2,
  .catalog h2 {
    font-size: 30px;
    line-height: normal;
  }

  .catalog {
    padding: 60px 7.8%;
  }
  .catalog__rect {
    top: 81px;
  }
  .catalog__item {
    width: 480px;
    height: 400px;
  }
  .catalog__content {
    width: 100%;
    margin-left: 0;
    padding: 20px;
    align-items: end;
  }
  .catalog__itemTitle {
    font-size: 20px;
  }
  .catalog__itemSlider {
    width: 160px;
    height: 280px;
    top: 20px;
    left: -30px;
  }
  .catalog__itemSlider img {
    width: auto;
    height: 100%;
  }
  .catalog__itemDescription {
    max-width: 200px;
  }
  .catalog__buttons {
    align-self: stretch;
  }
  .catalog__priceTable {
    width: fit-content;
    margin-left: 0;
    margin-top: 0;
  }
  .catalog__priceTable th,
  .catalog__priceTable td {
    text-align: center;
    padding-left: 0;
  }
  .catalog__itemSliderOptions {
    width: 240px;
    height: 50px;
  }
}

@media (width < 532px) {
  .advantages__figure {
    width: 320px;
    top: 550px;
    left: calc((100% - 320px) / 2);
  }
  .banner__rect,
  .advantages__rect,
  .catalog__rect,
  .catalog__rectBig,
  .logo__yandex,
  .advantages__figure,
  .catalog__itemDescription,
  .catalog__priceTable,
  .catalog__countButton,
  .catalog__itemLength,
  .catalog__itemSliderOptions  {
    display: none;
  }
  header {
    flex-direction: column;
  }
  .banner {
    padding-top: 320px;
  }
  .advantages__content {
    margin-left: 0;
  }
  .catalog__item {
    width: 300px;
    height: 450px;
  }
  .catalog__buttons {
    align-self: center;
  }
  .catalog__content {
    align-items: center;
  }
  .catalog__itemSlider {
    top: 70px;
    left: calc((100% - 240px) / 2);
  }
  .catalog__nav button {
    margin-bottom: 10px;
  }
}
